@import '@/styles/other.scss';

.headerLeft {
  padding-left: 40px;
  font-size: 20px;
  color: $headerColor;
  display: flex;
  align-items: center;
  line-height: 64px;
  height: 64px;

  .blogIcon {
    overflow: hidden;
    color: $headerColor;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: none;

    span {
      margin-right: 16px;
    }
  }
}