/**
 * @author zy
 * @date 2020/4/7
 * @Description: 所有颜色定义
 */

//头部颜色
$headerColor: rgba(0, 0, 0, .85);
$headerBoxShadowColor: #f0f1f2;


//分割线颜色
$dividerColor: rgb(235, 237, 240);

//图标颜色
$searchIconColor: #ced4d9;

//占位符颜色
$placeholderColor: #a3b1bf;


//主页颜色
$homeBasicColor: #0cb7d5;